{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}
{% block title %}Knowledge{% endblock %}

{% block body %}

<header>
    <div class="container">
        <div class="logo">
            <a href="/" class="logo-link"><img src="{{ asset('images/Logo.png') }}" alt="Logo"></a>
                    
                                   
        </div>
        <nav>
            <ul class="nav-links">
                {% if app.user is not null %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="/admin">Backoffice</a></li>
                    {% endif %}
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/logout">Se déconnecter</a></li>
                {% else %}
                    <li><a href="/" >Accueil</a></li>
                    <li><a href="/login">Se connecter</a></li>
                    <li><a href="/register">S'inscrire</a></li>
                {% endif %}
            </ul>
        </nav>

    </div>
</header>
<main>


    {% if app.user is not null %}
        <h1>Les différentes formations</h1>
        <div class="themes-container">
            {% for theme in themes %}
                <div class="theme-card">
                    
                    <a href="{{ path('app_theme', {'id': theme.id}) }}">
                        <img src="{{ asset('images/' ~ theme.image) }}" alt="{{ theme.name }}">

                        <h3>{{ theme.name }}</h3>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% else %}
                <h1>Veuillez vous <a href="/login">connecter</a> ou <a href="/register">créer un compte</a> pour voir les différentes formation</h1>
    {% endif %}
    
</main>
{% endblock %}
