{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/admin.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/formationAdd.css') }}">
{% endblock %}

{% block body %}
<header>
    <div class="container">
        <div class="logo">
            <a href="/" class="logo-link"><img src="{{ asset('images/Logo.png') }}" alt="Logo"></a>
                    
                                   
        </div>
        <nav>
            <ul class="nav-links">
                 {% if app.user is not null %}
                    <li><a href="/">Accueil</a></li>
                     <li><a href="/logout">Se déconnecter</a></li>
                 {% else %}
                     <li><a href="/" >Accueil</a></li>
                    <li><a href="/login">Se connecter</a></li>
                    <li><a href="/register">S'inscrire</a></li>
                 {% endif %}
            </ul>
        </nav>

    </div>
</header>
<div class="container mt-4">

<main>
    <h1>Tableau de bord de l'Administration</h1>

    <nav class="nav nav-pills flex-column">
        <a href="{{ path('admin_theme_add') }}">Ajouter un Thème</a>
        <a class="nav-link" href="{{ path('admin_formations_add') }}">Ajouter une Formation</a>
        <a class="nav-link" href="{{ path('admin_lessons_add') }}">Ajouter une leçon</a>
        <a class="nav-link" href="{{ path('admin_users') }}">Gérer les utilisateurs</a>
    </nav>

    <div class="mt-4">
        {% block admin_content %}{% endblock %}
    </div>
</main>

{% endblock %}
